{% extends "./base.html" %}

{% block title %} Profile User.name {% endblock %}

{% block body %}

{% block content %}
    {% for user in users %}
        <div class="user">
            <h2>{{ user.username }}</h2>
            <p>{{ user.email }}</p>
        </div>
    {% endfor %}
{% endblock %}

<div class="profile">
    <img src='' alt="photo" class="avatar-large"/>
    <div class="profile-content">
      <p><small>9th January</small></p>
      <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
    </div>
  
    <div class="profile-actions">
      <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
      <a href="#">Delete <i class="far fa-trash-alt"></i></a>
    </div>
  </div>



{% endblock %}
